import 'package:get_it/get_it.dart';
import '../../../lib/templates/core/network/api_client.dart';
import '../../../lib/templates/core/network/dio_api_client.dart';
import '../../../lib/templates/core/network/http_api_client.dart';
import '../../../lib/templates/core/global_app_setup/app_config.dart'; // Contains baseUrl, etc.

final GetIt locator = GetIt.instance;

/// Initialize dependency injection. Use the chosen client based on a flag.
void setupLocator({bool useDio = true}) {
  if (useDio) {
    locator.registerLazySingleton<ApiClient>(
        () => DioApiClient(AppConfig.baseUrl));
  } else {
    locator.registerLazySingleton<ApiClient>(
        () => HttpApiClient(baseUrl: AppConfig.baseUrl));
  }
}
